@mixin author($color-scheme: white-on-blue) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .avatar {
    @include avatar;
    margin-right: $lem;
  }

  &__name {
    @include author__name($color-scheme);
  }

  @include author--mobile;
}
