// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// Main color
$white: #fff;

// Main color, the Metamn blue
$blue: #4916DA;

// Secondary color
$gray: #ccc;


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'white-on-blue') {
    color: $white;
    background-color: $blue;
    
  }

  @if ($name == 'blue-on-white') {
    color: $blue;
    background-color: $white;
    
  }

  @if ($name == 'gray-on-blue') {
    color: $gray;
    background-color: $blue;
    
  }

}

// Color classes

.white {
  background: #fff;
};

.blue {
  background: #4916DA;
};

.gray {
  background: #ccc;
};


// Color pair classes

.white-on-blue {
  color: $white;
  background-color: $blue;
  
}

.blue-on-white {
  color: $blue;
  background-color: $white;
  
}

.gray-on-blue {
  color: $gray;
  background-color: $blue;
  
}

