@mixin experience {
  .experience-title {
    display: flex;
  }

  .experience-years {
    @include mobile {
      margin-bottom: 0;
    }

    @include mobile-and-up {
      padding-left: $lem * 4;
    }
  }

  .description {
    @include text-style(body-text);
  }

  .description,
  .name-and-role {
    max-width: none;
  }
}
