@mixin experience {
  display: flex;
  margin-bottom: $lem;

  &__title {
    display: flex;
  }

  .description {
    @include description;
  }

  @include experience--reorder;
  @include experience--mobile;
  @include experience--mobile-and-up;
}
