@mixin experience {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: $lem;

  &__title {
    display: flex;
  }

  .description {
    @include description;
  }

  @include experience--reorder;
  @include experience--mobile;
  @include experience--mobile-and-up;
}
