@mixin intro-text {
  width: 100%;
  height: 100%;

  .cliptext {
    @include cliptext(light, blue-on-white);
    color: black !important;

    &__text {
      @include text-style(headline);
      @include animation(intro-text, 1s);
      animation-fill-mode: forwards;
    }
  }
}

@include keyframes(intro-text) {
  from {
    @include scale(large-16);
  }

  to {
    @include scale(large-10);
    letter-spacing: 1px;
  }
}
