@mixin wanderlust-artwork-2 {
  @include section-padding;
  @include grid(2, $lem * 3, $lem * 3);

  background: repeating-linear-gradient(
		0deg,
		$blue,
		$blue 1px,
		$white 2px,
		$white 100px,
		$blue 100px
	) top left;

  .mockup {
    @include mockup;
    transform: rotateX(-15deg) rotateZ(-15deg) translateY(0vw);
    transform-style: preserve-3d;
  }
}
