@mixin featured-images {
  @include section-fitscreen;

  position: absolute;

  @for $i from 1 to 4 {
    &:nth-of-type(#{$i}) {
      @include animation(featured-images-#{$i}, 1s);
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @include grid(2);
  @include grid-inner-border(2, 4);

  .figure {
    @include figure;

    .img {
      transform: scale(.75);
    }
  }

}

@include keyframes(featured-images-1) {
  0% {
    top: 0;
    left: 0;
    opacity: .44;
    z-index: 1;
  }

  50% {
    top: - $lem / 2;
    left: $lem * 2;
    opacity: .88;
    z-index: 2;
  }

  100% {
    top: - $lem;
    left: $lem * 4;
    opacity: 1;
    z-index: 3;
  }
}

@include keyframes(featured-images-2) {
  0% {
    top: - $lem / 2;
    left: $lem * 2;
    opacity: .88;
    z-index: 2;
  }

  50% {
    top: - $lem;
    left: $lem * 4;
    opacity: 1;
    z-index: 3;
  }

  100% {
    top: 0;
    left: 0;
    opacity: .44;
    z-index: 1;
  }
}

@include keyframes(featured-images-3) {
  0% {
    top: - $lem;
    left: $lem * 4;
    opacity: 1;
    z-index: 3;
  }

  50% {
    top: 0;
    left: 0;
    opacity: .44;
    z-index: 1;
  }

  100% {
    top: - $lem / 2;
    left: $lem * 2;
    opacity: .88;
    z-index: 2;
  }
}
