@mixin experience--mobile-and-up {
  @include mobile-and-up {
    &__title,
    &__time {
      width: 30%;
      margin-right: $lem;
    }

    .description {
      width: 40%;
      font-weight: normal;
      font-size: 1em;
      line-height: 1.48;
    }
  }
}
