@mixin browser-mockup($border-size: thin, $border-color: $white, $button-colors: false) {
  display: flex;
  flex-direction: column;

  &__header {
    @include browser-mockup__header($border-size, $border-color, $button-colors);
  }

  .figure {
    @include figure($stretch: stretched);
    @include border($border-size, all);
    border-color: $border-color;
    line-height: 0;
  }
}
