@mixin work-image-list--reboot-large-screenshots {
  @include grid(2, $lem, $lem);
  align-items: center;

  display: none;

  span {
    display: none; // to be reomved
  }

  .browser-mockup {
    @include browser-mockup($border-color: $white, $all-borders: true);
  }
}
