@mixin x-cliptext {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .cliptext {
    @include cliptext(dark, white-on-black);

    &__text {
      @include text-style(title);
      @include scale(large-8);
      font-weight: 700;
    }
  }
}
