@mixin iphone-mockup-sensor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  left: -3%;

  &__sensor {
    @include circle($lem / 6);
    @include border(thin, all);
    margin-right: $lem / 2;
  }

  &__speaker {
    @include border(thick);
    width: 15%;
  }
}
