// Mockup camera
//
// The camera found at the top of every device
//
// Styleguide mockup-camera
@mixin mockup__camera {
  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    @include circle($lem / 4);
    @include border(thin, all);
  }
}
