@mixin iphone-mockup-camera {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: $lem / 2;

  &__circle {
    @include circle($lem / 4);
    @include border(thin, all);
  }
}
