@mixin focus-points {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .quote-with-author {
    @include quote-with-author;
  }

  .ol-with-circle {
    @include ol-with-circle;
  }
}
