@mixin work-image-list--reboot-device-pairs {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .iphone-mockup {
    @include iphone-mockup;

    margin-right: $lem;

    &:nth-of-type(2n) {
      @include iphone-mockup--tablet;
    }
  }
}
