@mixin wanderlust-intro {
  @include section-padding;
  min-height: 120vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @include background-image($white);

  &__title {
    @include text-style(headline);

    display: flex;
    margin-bottom: $lem;
  }

  .services {
    @include services;
    margin-bottom: 20vh;
  }

  .figure {
    display: none;
  }
}
