@mixin home__menu {
  position: absolute;
  top: $lem;
  right: $lem;
  display: flex;

  @include border;

  .button-with-arrow-triangle {
    @include button-with-arrow-triangle($color: $white);
  }
}
