// Header
//
// A simple header containing just the logo.
//
// Styleguide header
@mixin header($color-scheme: white-on-blue) {
  display: inline-flex;
  transform: rotate(-90deg);

  position: fixed;;
  left: 0;

  .logo {
    @include text-style(logo);

    .link {
      @include link($color-scheme, $color-scheme, $color-scheme, $color-scheme);
    }

    .flip {
      @include flip;
    }
  }
}
