// Header
//
// A simple header.
//
// Styleguide header
@mixin header($color-scheme: blue-on-white) {
  @include section-margin;
  width: auto !important;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: calc(100vh - #{$lem * 3});
  z-index: 1;

  .logo {
    @include text-style(logo);

    display: inline-flex;

    .link {
      @include link($color-scheme, $color-scheme, $color-scheme, $color-scheme);
    }

    .flip {
      @include flip;
    }
  }

  .about {
    // ...
  }
}
