// Header
//
// A simple header.
//
// Styleguide header
@mixin header($color-scheme: blue-on-white) {
  @include section-margin;
  width: auto !important;

  display: flex;
  flex-direction: column;

  .logo {
    @include text-style(logo);

    display: inline-flex;

    .link {
      @include link($color-scheme, $color-scheme, $color-scheme, $color-scheme);
      background-color: transparent !important;

      .flip__span {
        background-color: transparent !important;

        &:before {
          background-color: transparent !important;
        }
      }
    }

    .flip {
      @include flip;
    }
  }

  .about {
    // ...
  }

  position: fixed;
  top: calc(100vh - #{$lem * 3});
}
