// Spin
//
// Spinning an element. Used on the 404/Not found page.
//
// Styleguide spin
@mixin spin {
  animation-name:             rotate;
  animation-duration:         1.5s;
  animation-iteration-count:  infinite;
  transition-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.5);
  }
}
