@mixin home__message {
  @include section-padding;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .header {
    @include header;
  }

  .offer {
    @include offer;
    flex-basis: 100%;
  }

  .focus-points {
    @include focus-points;
    flex-basis: 100%;
  }

  .see-more {
    @include see-more;
  }

  .see-portfolio {
    @include see-portfolio;
  }
}
