@mixin home__message {
  @include section-padding;
  min-height: 150vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .header {
    @include header;
    display: none;
  }

  .offer {
    @include offer;
    display: none;
  }

  .focus-points {
    @include focus-points;
  }
}
