@mixin home__message {
  @include section-margin;
  @include section-fitscreen;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include border(normal, all);
  padding: $lem;
  box-sizing: border-box;

  .header {
    @include header;
  }

  .offer {
    @include offer;
    flex-basis: 100%;
  }

  .focus-points {
    @include focus-points;
    flex-basis: 100%;
  }

  .see-more {
    @include see-more;
  }

  .see-portfolio {
    @include see-portfolio;
  }
}
