// Mockup button
//
// The button found on phone and tablet at bottom
//
// Styleguide mockup-button
@mixin mockup__button($circle-size: $lem * 2, $padding: $lem) {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: $padding;

  .circle {
    @include circle($circle-size);
    @include border(thin, all);
  }
}
