@mixin experiences {
  @include section-padding;
  @include colors(white-on-blue);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 2; // Make the header invisible on scroll

  .experience {
    @include experience;
  }
}
