// Mockup sensor
//
// The speaker and the sensor found at the top of mobiles
//
// Styleguide mockup-sensor
@mixin mockup__sensor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding-top: $lem / 2;

  position: relative;
  left: -3%;

  .circle {
    @include circle($lem / 6);
    @include border(thin, all);
    margin-right: $lem / 2;
  }

  .line {
    @include border(thick);
    width: 15%;
  }
}
