@mixin home__intro {
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text-particle {
    @include text-particle;
  }

  .header {
    @include header;
  }

  .about {
    @include about;
  }
}
