@mixin home__intro {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .header {
    @include header;
  }

  .about {
    @include about;
  }

  @include tablet-and-below {
    justify-content: center;

    .header {
      display: none;
    }
  }
}
