@mixin what {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    display: none;
  }

  &__chars {
    @include text-style(body-text-large);
    max-width: none;

    @include section-fitscreen;
    margin-top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;

    animation-delay: 4.4s;
    @include animation(about-chars-scale-desktop);

    .char {
      margin: 0 $lem * 2;
      color: $white;
      font-weight: 900;

      @include mobile {
        transform: scale(1.5);
        margin: 0 $lem 0 0;
      }

      @include tablet {
        transform: scale(4);
      }

      @include laptop {
        transform: scale(6);
      }

      @include desktop {
        transform: scale(10);
      }
    }
  }
}


@include keyframes(about-chars-scale-desktop) {
  100% {
    text-shadow: 1px 1px $blue, 2px 2px $blue, 3px 3px $blue, 4px 4px $blue, 5px 5px $blue, 6px 6px $blue, 7px 7px $blue, 8px 8px $blue, 9px 9px $blue, 10px 10px $blue, 11px 11px $blue, 12px 12px $blue, 13px 13px $blue, 14px 14px $blue, 15px 15px $blue, 16px 16px $blue, 17px 17px $blue, 18px 18px $blue, 19px 19px $blue, 20px 20px $blue, 21px 21px $blue, 22px 22px $blue, 23px 23px $blue, 24px 24px $blue, 25px 25px $blue, 26px 26px 6px $blue;
  }
}
