@mixin home__portfolio {
  @include section-padding;
  @include colors(white-on-blue);

  display: flex;
  flex-direction: column;

  margin-top: 10vh;
  margin-bottom: 10vh;

  .fixed-scroll {
    @include fixed-scroll(20%);

    &__slide {
      margin-bottom: 10vh;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .content {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .title {
    transform: rotate(-90deg) translateY(-15vw);
  }

  .work {
    @include work;
  }
}
