@mixin home__portfolio {
  @include section-padding;
  @include section-fitscreen;
  @include colors(white-on-blue);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .fixed-scroll {
    @include fixed-scroll(20%);
  }

  .content {
    margin-left: 0;
  }

  .title {
    transform: rotate(-90deg) translateY(-15vw);
  }

  .work {
    @include work;
  }
}
