@mixin home__portfolio {
  @include section-padding;

  display: flex;
  flex-direction: column;

  margin-top: 10vh;
  margin-bottom: 10vh;

  .fixed-scroll {
    @include fixed-scroll(20%);

    &__slide {
      margin-bottom: 10vh;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .work {
    @include work;
  }
}
