@mixin contact {
  width: 100%;

  @include landscape {
    margin-bottom: $lem;
  }

  .list {
    @include list;
    list-style: none;

    .link {
      @include link(white-on-blue, white-on-blue, white-on-blue);
    }
  }
}
