@mixin contact {
  width: 100%;

  @include landscape {
    margin-bottom: $lem;
  }

  .list {
    @include list;
    list-style: none;

    .list-item {
      border-bottom: 4px double;

      .link {
        @include link(white-on-blue, white-on-blue, white-on-blue);
      }
    }
  }
}
