@mixin beat-artwork-2 {
  display: flex;
  justify-content: center;
  align-items: center;

  @include colors(white-on-blue);

  .mockup {
    @include mockup;
    max-width: 60vw;

    position: relative;
    z-index: 1;
  }

  position: relative;
  .description {
    @include description;
    padding: 0 $lem;

    position: absolute;
    top: 30%;
    left: 0;
  }
}
