@mixin about {
  @include section-padding;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__text-1,
  &__text-2 {
    display: none;
  }

  &__chars-1,
  &__chars-2 {
    @include text-style(body-text-large);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .char {
      margin: $lem / 2 $lem / 2 0 0;
    }
  }

  &__chars-1 {
    @include about__chars-1;
  }

  &__chars-2 {
    @include about__chars-2;
  }
}
