@mixin about {
  @include section-padding;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include tablet-and-below {
    flex-wrap: wrap;
    justify-content: center;

    &__chars-1 {
      margin: $lem 0;
    }
  }

  &__text-1,
  &__text-2 {
    display: none;
  }

  &__chars-1,
  &__chars-2 {
    @include text-style(body-text-large);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__chars-1 {
    @include about__chars-1;
  }

  &__chars-2 {
    @include about__chars-2;
  }
}
