@mixin about {
  @include section-padding;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  &__chars-1 {
    margin: $lem 0;
  }

  &__text-1,
  &__text-2 {
    display: none;
  }

  &__chars-1,
  &__chars-2 {
    @include mobile-and-up {
      @include text-style(body-text-large);
      max-width: 70vw;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__chars-1 {
    @include about__chars-1;
  }

  &__chars-2 {
    @include about__chars-2;
  }
}
