@mixin home__styleguide {
  @include section-padding;

  min-height: 90vh;
  display: flex;
  align-items: center;

  @include colors(blue-on-white);
  padding: $lem;
  box-sizing: border-box;

  position: relative;

  .offer {
    @include offer($blue, $white);
  }

  .styleguide-sliders {
    @include styleguide-sliders;
  }
}
