// Image preloading
//
// The image won't be displayed until it is completelly loaded. During the load a small animation will be displayed instead.
// Once the image is fully loaded it's opacity is set to 1
// The [Imagesloaded script](https://github.com/desandro/imagesloaded) is used fro this task
//
// Styleguide image-with-preloader
@mixin img--preloading {
  visibility: hidden;

  @include mobile {
    width: 50px;
    height: 67px;
  }

  @include tablet {
    width: 150px;
    height: 200px;
  }

  @include tablet-landscape {
    width: 240px;
    height: 320px;
  }

  @include laptop {
    width: 300px;
    height: 400px;
  }

  @include desktop {
    width: 384px;
    height: 512px;
  }
}
