@mixin mockup--mobile {
  display: flex;
  flex-direction: column;

  .mockup__camera {
    @include mockup__camera;
  }

  .mockup__sensor {
    @include mockup__sensor;
  }

  .figure {
    @include figure;
    line-height: 0;
  }

  .mockup__button {
    @include mockup__button;
  }
}
