@mixin reboot-artwork-2 {
  @include section-padding;
  @include section-fitscreen;

  display: flex;
  justify-content: center;
  align-items: center;

  .mockup {
    @include mockup;

    margin-right: $lem * 4;

    &--mobile {
      transform: scale(.75);
    }

    &--tablet {
      transform: scale(1.15);
    }
  }
}
