@mixin reboot-artwork-2 {
  @include section-padding;

  display: none;
  justify-content: center;
  align-items: center;

  .mockup {
    @include mockup;

    transform: rotateX(5deg) rotateZ(5deg) translateY(0vw);
    transform-style: preserve-3d;

    &--mobile {
      transform: scale(.75);
    }

    &--tablet {
      transform: scale(1.15);
    }

    @for $i from 1 to 5 {
      &:nth-of-type(#{$i}) {
        position: relative;
        z-index: $i;
      }
    }
  }
}
