@mixin imac-mockup__top {
  @include border(thin, all);
  border-radius: $lem * 2 $lem * 2 0 0;

  padding: $lem * 2;

  .figure {
    @include figure;

    line-height: 0;
    @include border(normal, all);
    border-color: black;
  }
}
