@mixin reboot-intro {
  @include section-padding;

  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__title {
    @include text-style(headline);

    display: flex;
    margin-bottom: $lem;
  }

  .services {
    @include services;
  }
}
