@mixin imac-mockup__stand {
  position: relative;
  display: inline-block;

  width: 30%;
  margin: 0 auto;
  height: $lem * 8;

  &::before {
    @include border(thin, all);

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: perspective(4px) rotateX(1deg) translateY(-36%);
  }
}
