@mixin about__chars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 15em;

  @include font(nimbus-sans-light);

  @include about__chars--reveal;
  @include about__chars--shadow;
  @include about__chars--mobile;
}
