@mixin about__chars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include font(nimbus-sans-light);

  .char {
    margin: $lem / 2 $lem / 2 0 0;
  }

  @include about__chars--reveal;
  @include about__chars--shadow;
}
