@mixin work__horizontal-slider {
  @include grid(2, $lem, $lem);

  .figure {
    @include figure;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: $lem;
    background-color: #663BDD;
  }
}
