@mixin work__horizontal-slider {
  @include grid(2, 0px, 0px);
  background-color: #663BDD;

  .figure {
    @include figure;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: $lem;
  }
}
