@mixin mbp-mockup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__top {
    @include mbp-mockup__top;
  }

  &__bottom {
    @include mbp-mockup__bottom;
  }
}
