@mixin styleguide-sliders__navigation($width, $height, $margin) {
  position: relative;

  .navigation {
    position: absolute;

    &:nth-of-type(1) {
      left: $margin;
      top: calc(-#{$height} - #{$lem + $lem / 2});
    }

    &:nth-of-type(2) {
      left: $width + $margin;
      top: -$height;
      transform: rotate(90deg) translateX($lem + $lem / 4) translateY($lem / 2 + $lem / 4);
    }

    &:nth-of-type(3) {
      left: $margin;
      top: $lem / 2;
    }

    &:nth-of-type(4) {
      left: calc(#{$margin} - #{$lem});
      transform: rotate(-90deg) translateX($lem * 2 + $lem / 4) translateY(-$lem -$lem / 2);
    }
  }
}
