@mixin work-image-list--wanderlust-large-screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .browser-mockup {
    @include browser-mockup($border-color: $white, $all-borders: true);
    flex-basis: 80%;
    margin-bottom: 5vh;
  }
}
