@mixin who {
  display: flex;
  align-items: center;

  &__text {
    display: none;
  }

  &__chars {
    @include text-style(body-text);
    max-width: 15em;

    display: flex;
    flex-wrap: wrap;

    .char {
      opacity: 0;
      $duration: 0.1s;
      margin: $lem / 2 $lem / 2 0 0;

      @for $i from 1 to 44 {
        &--#{$i - 1} {
          @include animation(about-chars-reveal, $duration);
          animation-delay: ($i - 1) * $duration;
        }
      }
    }
  }
}


@include keyframes(about-chars-reveal) {
  0% {
    transform: rotate(360deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
