@mixin featured-images--portrait {
  @include portrait {
    @include grid(6, 1px, 1px);

    transform: rotateX(45deg) rotateZ(45deg) translateY(-20vh) translateX(10vw)
      scale(3.5);
    transform-style: preserve-3d;

    .figure {
      @include tablet {
        padding: $lem / 3;
      }

      .img {
        box-shadow: $lem / 6 $lem / 6 $gray;

        @include tablet {
          box-shadow: $lem / 4 $lem / 4 $gray;
        }
      }
    }
  }
}
