@mixin featured-images--portrait {
  @include portrait {
    @include grid(4, $lem, $lem);
    top: 0;

    transform: rotate(5deg);

    .figure {
      padding: $lem;
      
      .img {
        box-shadow: $lem / 4 $lem / 4 $gray;
      }
    }
  }
}
