@mixin fixed-scroll__slide($title-width) {
  position: relative;
  display: flex;

  .title {
    position: absolute;
    top: 15vh;
    width: $title-width;
    flex-basis: $title-width;
  }

  .content {
    flex-basis: calc(100% - #{$title-width});

    @include list;
    @include list--list-view;
  }

  &--active {
    @include fixed-scroll__slide--active;
  }
}
