@mixin intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: calc(100vh - #{$lem * 8});
  margin-top: $lem * 4;
  margin-bottom: $lem * 4;

  overflow: hidden;
  position: relative;

  .featured-images {
    @include featured-images;
    order: 1;
  }
}
