@mixin card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include border(normal, all);
  @include text-style(body-text);

  padding: $lem;
  @include mobile {
    @include section-margin;
    margin-left: 0;
    margin-right: 0;
  }

  position: relative;

  .avatar {
    @include avatar;

    position: absolute;
    top: -$lem - $lem / 2;
    left: calc(50% - #{$lem + $lem / 2});
  }

  &__name {
    margin: $lem * 2;

    @include mobile {
      margin: $lem * 2 $lem;
    }
  }
}
