@mixin about__chars-2 {
  color: transparent;

  .char {
    $duration: 0.05s;

    margin: $lem;
    @include mobile {
      margin: $lem / 2;
    }

    @for $i from 1 to 37 {
      &--#{$i - 1} {
        animation-delay: 4.4s + ($i - 1) * $duration;

        @include mobile {
          @include animation(about-chars-shadow-mobile, $duration);
        }

        @include mobile-and-up {
          @include animation(about-chars-shadow, $duration);
        }
      }
    }
  }

  animation-delay: 4.4s + 1.85s;
  @include desktop {
    @include animation(about-chars-scale-desktop);
  }

  @include laptop {
    @include animation(about-chars-scale-laptop);
  }
}

@include keyframes(about-chars-shadow) {
  100% {
    text-shadow: 1px 1px $blue, 2px 2px $blue, 3px 3px $blue, 4px 4px $blue, 5px 5px $blue, 6px 6px $blue, 7px 7px $blue, 8px 8px $blue, 9px 9px $blue, 10px 10px $blue, 11px 11px $blue, 12px 12px $blue, 13px 13px $blue, 14px 14px $blue, 15px 15px $blue, 16px 16px $blue, 17px 17px $blue, 18px 18px $blue, 19px 19px $blue, 20px 20px $blue, 21px 21px $blue, 22px 22px $blue, 23px 23px $blue, 24px 24px $blue, 25px 25px $blue, 26px 26px 6px $blue;
    color: $white;
    font-weight: 900;
    transform: scale(4) translate(-40%, -20%);
  }
}

@include keyframes(about-chars-shadow-mobile) {
  100% {
    text-shadow: 1px 1px $blue, 2px 2px $blue, 3px 3px $blue, 4px 4px $blue, 5px 5px $blue, 6px 6px $blue, 7px 7px $blue, 8px 8px $blue, 9px 9px $blue, 10px 10px $blue, 11px 11px $blue, 12px 12px $blue, 13px 13px $blue, 14px 14px $blue, 15px 15px $blue, 16px 16px $blue, 17px 17px $blue, 18px 18px $blue, 19px 19px $blue, 20px 20px $blue, 21px 21px $blue, 22px 22px $blue, 23px 23px $blue, 24px 24px $blue, 25px 25px $blue, 26px 26px 6px $blue;
    color: $white;
    font-weight: 900;
    transform: scale(2.5) translate(-40%, -20%);
  }
}

@include keyframes(about-chars-scale-desktop) {
  100% {
    transform: scale(1.5) translateX(-20%) translateY(-35%);
  }
}

@include keyframes(about-chars-scale-laptop) {
  100% {
    transform: scale(1.1) translateX(-20%) translateY(-20%);
  }
}
