@mixin home__cv {
  @include section-padding;
  @include background-image;
  @include colors(white-on-blue);

  min-height: 100vh;
  display: flex;
  align-items: center;

  .card {
    @include card;
  }

  .bio {
    @include bio;
    display: none;
  }

  @include experience;

  .contact {
    @include contact;
  }
}
