@mixin home__cv {
  @include section-padding;
  @include background-image;
  @include colors(white-on-blue);

  min-height: 100vh;
  margin-top: $lem * 6; // 4 from section above, 2 from negative avatar top margin
  padding-top: $lem / 2; // to make room for card border

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;

  .card {
    @include card;
  }

  .bio {
    @include bio;
  }

  .experiences {
    @include experiences;
  }

  .contact {
    @include contact;
  }

  @include landscape {
    flex-direction: row;

    .card {
      width: 40%;
    }

    .experiences {
      width: 60%;
      padding: $lem;
    }
  }
}
