@mixin x-text-half-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .text-half-dark {
    @include text-style(body-text);
    @include text-half-dark(starts-dark, $black, $white);
    //@include text-half-dark;
  }
}
