@mixin work {
  margin-top: 10vh;
  min-height: 100vh;
  display: flex;

  .offer {
    @include offer;
  }

  &__description {
    @include work__description;
  }

  &__artwork {
    @include work__artwork;
  }
}
