@mixin work {
  min-height: 100vh;
  display: flex;

  .offer {
    @include offer;
  }

  &__description {
    @include work__description;
  }

  &__images {
    @include work__images;
    display: none;
  }

  &__horizontal-slider {
    @include work__horizontal-slider;
    display: none;
  }

  &__all-devices {
    @include work__all-devices;
  }
}
